article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

/* Section title, Page title */

.section-title, .page-title {
    @apply relative z-10 title font-sans text-zinc-800 mb-12 lg:mb-16;

    &:after {
        @apply absolute content-[''] bg-mxbon-red;
    }
    .sub {
        @apply block uppercase font-raj font-bold text-8xl leading-[0.85] md:leading-[0.6458] text-zinc-100 md:whitespace-nowrap;
    }
    &.center {
        @apply mx-auto pb-4 w-fit;
        &:after {
            @apply w-32 h-2 bottom-0 left-1/2 -translate-x-1/2;
        }
        .sub {
            @apply absolute -z-10 bottom-[52px] left-1/2 -translate-x-1/2;
        }
    }
    &.side {
        @apply mr-auto pt-10 pl-6;
        &:after {
            @apply w-2 h-16 left-0 top-1/2 -translate-y-1/2;
        }
        .sub {
            @apply absolute -z-10 top-0 left-6;
        }
    }
}

/* Buttons base class */

.mxbon-btn {
    @apply block rounded-none transition-all focus:outline-none;
}

/* Buttons size */

.mxbon-btn-sm {
    @apply px-4 py-2 w-fit text-base leading-ext-tight font-raj font-bold tracking-[0.64px];
}
.mxbon-btn-md {
    @apply px-6 py-4 text-lg leading-ext-tight font-medium;
}
.mxbon-btn-lg {
    @apply px-10 py-4 text-lg leading-ext-tight font-medium;
}

/* Buttons Color */

.mxbon-btn-red {
    @apply text-white bg-mxbon-red hover:bg-mxbon-dark-red;
}
.mxbon-btn-news {
    @apply text-white bg-mxbon-red/75 hover:bg-mxbon-dark-red;
}
.mxbon-btn-light {
    @apply text-zinc-400 hover:text-white bg-white hover:bg-zinc-400 shadow-border-light hover:shadow-none;
}
.mxbon-btn-silver {
    @apply text-zinc-400 hover:text-zinc-500 bg-zinc-100;
}
.mxbon-btn-dark {
    @apply text-white bg-zinc-800 hover:bg-zinc-900;
}

/* Form items */

.mxbon-text-box {
    @apply rounded-none border border-zinc-300 p-3 text-zinc-600 disabled:text-zinc-400 placeholder-zinc-400 text-base leading-normal font-sans focus:border-zinc-600 focus:outline-none transition-colors bg-white disabled:bg-zinc-100;
}
.mxbon-list {
    @apply rounded-none relative p-3 pr-[22px] appearance-none border border-zinc-200 text-zinc-400 focus:border-zinc-600 focus:text-zinc-800 focus:outline-none disabled:text-zinc-400 disabled:border-zinc-200 disabled:bg-zinc-100 bg-caret-down focus:bg-caret-down-focus bg-no-repeat bg-[length:10px_100%] bg-caret-down-position transition-colors;
}
.mxbon-radio.ff_list_inline {
    .ff-el-input--content {
        @apply flex flex-col lg:flex-row gap-x-2 py-1.5;
        .ff-el-form-check {
            @apply !m-0;
            .ff-el-form-check-label {
                @apply relative flex p-2 pl-0 mb-0 items-center;

                input[type=radio] {
                    @apply hidden;
                }
                span {
                    @apply block relative whitespace-nowrap pl-[22px] text-base leading-ext-tight text-zinc-600 transition-colors;
                    &:before {
                        @apply absolute content-[''] w-[14px] h-[14px] left-0 top-1/2 -translate-y-1/2 shadow-radio-not-checked rounded-full;
                    }
                }
                input[type=radio]:checked + span {
                    @apply text-mxbon-red;
                    &:before {
                        @apply shadow-radio-checked;
                    }
                }
            }
        }
    }
   
}

/* Titles */

.title {
    @apply text-5xl leading-ext-tight font-medium;
}
.subtitle {
    @apply text-xl leading-ext-tight font-medium;
}
.subtitle-md {
    @apply text-2xl leading-ext-tight font-medium;
}
.subtitle-lg {
    @apply text-[28px] leading-ext-tight font-medium;
}

/* Content Text */

.typeface-base {
    @apply text-base leading-normal font-normal;
}
.typeface-lg {
    @apply text-lg leading-normal font-normal;
}

/* Header mobile effect */ 
body {
    @apply scroll-smooth;
    &.search-active, &.toggle-active {
        @apply h-full xl:h-auto overflow-hidden xl:overflow-auto;
        .site-content {
            @apply select-none xl:select-auto;
        }
    }
    &.search-active {
        .toggle-wrapper {
            @apply pointer-events-none;
        }
    }
    &.toggle-active {
        .search-wrapper {
            @apply pointer-events-none;
        }
    }
}

/* Header */

header {
    @apply relative z-50;
    .container {
        @apply h-16 lg:h-[90px] mx-auto max-w-10xl flex flex-row justify-end px-0;
        .wrapper {
            @apply relative z-10 bg-white flex justify-start items-center lg:justify-between p-0 lg:px-4 xl:px-6 lg:py-0 flex-1;

            .custom-logo-link {
                @apply z-10 w-full h-full lg:w-fit lg:h-fit flex items-center p-3 lg:p-0 bg-white;
                .custom-logo {
                    @apply w-[175px] h-10 lg:w-[240px] lg:h-auto xl:w-[320px] object-contain object-center;
                }
            }
            .primary-menu-container {
                @apply absolute z-0 top-16 left-0 h-[calc(100vh-64px)] w-screen bg-white overflow-y-auto -translate-y-1/4 opacity-0 pointer-events-none transition-all duration-500;
                @apply lg:relative lg:top-unset lg:left-unset lg:h-auto lg:w-auto xl:mt-auto lg:bg-transparent lg:block lg:overflow-visible lg:translate-y-0 lg:opacity-100 lg:pointer-events-auto;
                &.active {
                    @apply opacity-100 translate-y-0 pointer-events-auto;
                }
            }
            #primary-menu {
                @apply p-4 lg:p-0;
                #menu-main-nav {
                    @apply flex flex-col gap-y-2 lg:flex-row lg:gap-x-2 lg:gap-y-0;
                    > li {
                        @apply relative block;

                        .menu-link-wrapper {
                            @apply relative flex justify-between gap-x-2 lg:block;
                            a {
                                @apply relative block px-0.5 py-[13px] lg:py-5 lg:px-2 xl:px-3 2xl:px-4 text-lg lg:text-base xl:text-lg leading-ext-tight font-medium text-zinc-800 transition-colors;
                                &:after {
                                    @apply absolute hidden lg:block content-[''] w-auto bottom-0 right-2 left-2 h-1 bg-mxbon-red opacity-0 scale-50 transition-all;
                                }
                            }
                            .fa-caret-down {
                                @apply flex justify-center items-center lg:hidden w-12 h-12 content-['\f0d7'] font-awesome font-bold text-lg leading-none transition-transform duration-500;
                            }
                        }
                        .sub-menu {
                            @apply max-h-0 overflow-hidden opacity-0 transition-all duration-500 bg-white;
                            @apply lg:max-h-none lg:absolute lg:left-1/2 lg:bottom-0 lg:opacity-0 lg:-translate-x-1/2 lg:translate-y-[calc(100%+16px)] lg:w-40 lg:shadow-card lg:pointer-events-none;
                            li {
                                @apply block;
                                a {
                                    @apply block px-2 py-4 lg:px-6 text-lg leading-ext-tight text-zinc-600 transition-colors lg:text-center;
                                }
                                &:hover, &.current-menu-item {
                                    a {
                                        @apply text-white bg-mxbon-red;
                                    }
                                }
                            }
                        }
                        
                        &.active {
                            .menu-link-wrapper {
                                @apply mb-4 lg:mb-0;
                                a {
                                    @apply text-mxbon-red;
                                }
                                .fa-caret-down {
                                    @apply text-mxbon-red rotate-180;
                                }
                                &:after {
                                    @apply block lg:hidden absolute content-[''] bg-neutral-200 w-full h-px -bottom-2 left-1/2 -translate-x-1/2;
                                }
                            }
                            .sub-menu {
                                @apply max-h-screen opacity-100;
                            }
                        }
                        &:hover {
                            .menu-link-wrapper {
                                a {
                                    @apply text-mxbon-red;
                                    &:after {
                                        @apply opacity-100 scale-100;
                                    }
                                }
                            }
                            .sub-menu {
                                @apply  lg:opacity-100 lg:translate-y-full lg:pointer-events-auto;
                            }
                        }
                    }
                }
            }
        }
        .language-switcher {
            @apply hidden lg:block relative z-10 lg:w-[90px] xl:w-[120px] h-full text-zinc-400 transition-colors bg-zinc-100;
            li {
                @apply h-full;
                a {
                    @apply h-full flex flex-col justify-center items-center px-4 py-3 text-base leading-none font-bold font-raj;
                    &:before {
                        @apply content-[''] block w-12 h-12 p-2.5 bg-lang-icon bg-cover bg-no-repeat transition-bg;
                    }
                }
            }
            &:hover {
                @apply text-zinc-500;
                li {
                    a {
                        @apply before:bg-lang-icon-hover;
                    }
                }
            }
            &.mobile {
                @apply block lg:hidden h-auto;
                li {
                    a {
                        @apply flex-row justify-start font-semibold p-4;
                        &:before {
                            @apply w-8 h-8 p-1;
                        }
                    }
                }
            }
        }
        .search-wrapper {
            @apply z-10 lg:z-0 w-16 h-16 lg:w-[90px] xl:w-[120px] lg:h-full;
            .search-toggle {
                @apply relative z-10 bg-white w-full h-full focus:outline-none;
                .header-button {
                    @apply flex flex-col justify-center items-center w-full h-full px-4 py-3 text-white transition-all duration-500 text-base uppercase leading-none font-raj font-bold;
                    &:before {
                        @apply font-awesome block text-2xl leading-none lg:text-[28px] w-fit m-auto p-0 lg:p-2.5 transition-transform duration-500;   
                    }
                    &.open {
                        @apply bg-mxbon-red hover:bg-mxbon-dark-red;
                        &:before {
                            @apply content-['\f002'];
                        }
                        span {
                            @apply hidden lg:block;
                        }
                    }
                    &.close {
                        @apply bg-zinc-800 hover:bg-zinc-900 absolute left-0 opacity-0 pointer-events-none;
                        &:before {
                            @apply content-['\f00d'] -translate-x-4;
                        }
                        span {
                            @apply hidden lg:block;
                        }                  
                    }
                }
                &:before {
                    /*@apply absolute -z-10 content-[''] w-0.5 h-[calc(64px+147px)] lg:h-[calc(90px+186px)] bg-white right-0 lg:right-unset lg:-left-0.5;*/
                }
            }
            .form-wrapper {
                @apply absolute z-0 p-4 w-full h-[calc(100vh-64px)] lg:h-[300px] left-0 top-16 lg:top-[90px] opacity-0 -translate-y-1/4 lg:-translate-y-full bg-zinc-900/75 backdrop-blur-[8px] transition-all duration-500 flex justify-center items-center pointer-events-none;
                .search-form {
                    @apply w-full max-w-[992px] flex flex-col items-stretch lg:flex-row gap-y-2 lg:gap-y-0 lg:gap-x-2 lg:items-center;
                    label {
                        @apply flex-1;
                        .search-field {
                            @apply mxbon-text-box w-full;
                        }
                    }
                    .search-submit {
                        @apply mxbon-btn mxbon-btn-md mxbon-btn-red;
                    }
                }                
            }

            &.active {
                .search-toggle {
                    .header-button {
                        &.open {
                            @apply opacity-0 pointer-events-none;
                            &:before {
                                @apply translate-x-4;
                            }
                        }
                        &.close {
                            @apply opacity-100 pointer-events-auto;
                            &:before {
                                @apply translate-x-0;
                            }
                        }
                    }
                }
                .form-wrapper {
                    @apply opacity-100 translate-y-0 pointer-events-auto;
                }
            }
        }
        .toggle-wrapper {
            @apply z-20 bg-white lg:hidden;
            #primary-menu-toggle {
                @apply w-16 h-16 flex justify-center items-center overflow-hidden;
                .fa-xmark {
                    @apply text-2xl leading-none w-0 opacity-0 -translate-x-6 transition-all duration-500;
                }
                .fa-bars {
                    @apply text-2xl leading-none w-auto opacity-100 translate-x-0 transition-all duration-500;
                }
            }
        }
    }
}

body {
    &.search-active {
        header {
            .container {
                .wrapper {
                    @apply z-30 lg:z-10;
                }
            }
        }
    }
    &.toggle-active {
        header {
            .container {
                .toggle-wrapper {
                    #primary-menu-toggle {
                        .fa-xmark {
                            @apply opacity-100 translate-x-0 w-auto;
                        }
                        .fa-bars {
                            @apply opacity-0 translate-x-6 w-0;
                        }
                    }
                }
            }
        }
    }
}
.site-content {
    @apply relative z-10;
}

.site-fabs-wrapper {
    @apply fixed z-50 w-full max-w-10xl self-center h-screen pointer-events-none;
    .site-fabs {
        @apply absolute right-0 bottom-0 flex flex-col px-3 lg:px-4 py-4 opacity-0 translate-y-16 transition-all duration-700 delay-0;
        .float-action-button {
            @apply block w-16 h-16 my-1 hover:my-2 transition-spacing;
            a {
                @apply flex justify-center items-center mx-auto h-16 w-[calc(64px*0.866)] clip-path-hexagon bg-mxbon-red/75 hover:bg-mxbon-red transition-bg drop-shadow-fab;
                i {
                    @apply text-white text-2xl leading-none;
                    &.fa-phone {
                        @apply text-lg;
                    }
                    &.fa-envelope {
                        @apply text-[22px];
                    }
                }
            }
            &.scroll-top {
                a {
                    @apply bg-zinc-600/75 hover:bg-zinc-600;
                }
            }
        }
    }
    &.active {
        .site-fabs {
            @apply pointer-events-auto opacity-100 translate-y-0;
        }
    }
}

footer {
    @apply px-4 pt-16;
    .container {
        @apply max-w-9xl mx-auto mb-8 px-0 lg:px-4 flex flex-col lg:flex-row justify-between;
        .company {
            @apply mb-10 lg:mb-0 px-8 md:px-16 lg:px-0;
            .logo {
                @apply w-full max-w-[229px] h-auto mb-12;
            }
            .name {
                @apply subtitle text-zinc-800 mb-6;
            }
            .info {
                @apply flex flex-col gap-y-3 px-0.5 opacity-80;
                li {
                    a {
                        @apply typeface-base flex flex-row gap-x-4 items-center hover:text-mxbon-red transition-colors;
                        .fa-solid {
                            @apply text-lg leading-none w-[18px] h-[18px] flex justify-center items-center;
                        }
                    }
                }
            }
        }
        .footer-menu {
            @apply py-7 max-w-[992px] flex-1;
            .menu-footer-nav {
                @apply grid grid-cols-2 md:grid-cols-3 xl:grid-cols-6 gap-x-8 gap-y-16;
                > li {
                    @apply flex-1;
                    > a {
                      @apply subtitle text-zinc-800 block text-center mb-8;
                    }
                    .sub-menu {
                        @apply flex flex-col gap-y-4;
                        > li {
                            @apply block;
                            > a {
                                @apply typeface-base text-zinc-600 hover:text-mxbon-red transition-colors block text-center max-w-[156px] mx-auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright {
        @apply typeface-base text-center text-zinc-400 py-4 border-t border-zinc-100;
        .credit {
            @apply inline-block px-4;
        }
    }
}

/* Single page */

.page:not(.home) {
    main {
        @apply overflow-x-hidden overflow-y-auto;
        .breadcrumb-wrapper {
            @apply w-full max-w-9xl mx-auto mb-2 md:mb-10 px-4;
            .breadcrumb {
                @apply py-4 flex flex-row gap-x-1;
                a, span {
                    @apply block text-base leading-ext-tight text-neutral-400;
                }
                a {
                    @apply hover:text-mxbon-red transition-colors;
                }
                .seprator {
                    @apply text-neutral-400 text-sm flex justify-center items-center w-5 h-5;
                }
            }
        }
        .container {
            @apply mx-auto flex flex-col lg:flex-row max-w-full 3xl:max-w-9xl overflow-x-hidden overflow-y-auto;
            .side-navigation {
                @apply mb-12 md:mb-0 lg:px-4 py-8 lg:w-1/5 xl:w-1/6;
                .title {
                    @apply relative hidden lg:block text-zinc-400 text-2xl leading-ext-tight font-medium p-8 mb-4;
                    &:after {
                        @apply absolute content-[''] w-full h-px -bottom-2 left-0 bg-zinc-200;
                    }
                }
                .menu {
                    .menu-item {
                        @apply block pr-6;
                        a {
                            @apply relative block pr-6 pl-8 py-4 text-zinc-600 hover:text-mxbon-red transition-colors text-xl leading-ext-tight font-medium;
                        }
                    }
                    .current_page_item {
                        a {
                            @apply text-white bg-mxbon-red hover:text-white;
                            &:after {
                                @apply absolute content-[''] w-0 h-0 border-t-[28px] border-r-0 border-b-[28px] border-l-[24px] border-transparent border-l-mxbon-red top-0 right-0 translate-x-full;
                            }
                        }
                    }
                }
            }
            article {
                @apply lg:px-4 lg:w-4/5 xl:w-5/6 mb-10 md:mb-20;
                & > *:not(.entry-content) {
                    @apply max-w-full;
                }
                &.post-102, &.post-104 {
                    .entry-header {
                        .page-title.side {
                            @apply pt-[122px] md:pt-10;
                        }
                    }
                } 
                .entry-content {
                    & > * {
                        @apply max-w-full;
                    }
                }
                section.intro {
                    @apply flex flex-col md:flex-row gap-x-8 gap-y-4 mb-12 md:mb-20;
                    .founder {
                        @apply w-full max-w-[490px] md:w-1/2 xl:w-full mb-auto;
                    }
                    .profile {
                        @apply px-2 md:px-6 py-4;
                        h2 {
                            @apply text-zinc-800 text-2xl xl:text-[32px] leading-normal font-medium text-justify -tracking-[0.2px] mb-16 xl:mb-20 relative;
                            &:after {
                                @apply absolute content-[''] w-full h-px left-0 -bottom-8 xl:-bottom-10 bg-zinc-200;
                            }
                        }
                        ul {
                            li {
                                @apply list-none mb-8;
                                h3 {
                                    @apply text-zinc-800 text-lg leading-5 font-medium mb-3;
                                    &:before {
                                        @apply content-[''] inline-block mr-4 w-2 h-5 bg-mxbon-red;
                                    }
                                }
                                span {
                                    @apply text-zinc-600 text-lg leading-normal block pl-6;
                                }
                            }
                        }
                    }
                }
                section.specialty {
                    @apply mb-12 md:mb-20;
                    .features {
                        @apply flex flex-col md:flex-row gap-8 mb-0;
                        li {
                            @apply list-none bg-zinc-100 relative flex justify-center items-start;
                            &:before {
                                @apply absolute z-10 top-0 left-0 content-[''] w-0 h-0 border-transparent border-t-white border-t-[63px] border-r-[109px] xl:border-t-[101px] xl:border-r-[175px];
                            }
                            .icon {
                                @apply relative z-20 w-20 h-20 xl:w-32 xl:h-32 flex justify-center items-center;
                                img {
                                    @apply w-10 xl:w-16 h-auto z-30;
                                }
                                &:before {
                                    @apply absolute z-10 content-[''] h-20 w-[calc(80px*0.866)] xl:h-[128px] xl:w-[calc(128px*0.866)] bg-mxbon-red clip-path-hexagon;
                                }
                                .inner {
                                    @apply absolute z-20 w-[72px] h-[72px] xl:w-[120px] xl:h-[120px] flex justify-center items-center;
                                    &:before {
                                        @apply absolute content-[''] h-[72px] w-[calc(72px*0.866)] xl:h-[120px] xl:w-[calc(120px*0.866)] bg-white/25 clip-path-hexagon;
                                    }
                                    &:after {
                                        @apply absolute content-[''] h-[66px] w-[calc(66px*0.866)] xl:h-[114px] xl:w-[calc(114px*0.866)] bg-mxbon-red clip-path-hexagon;
                                    }                                    
                                }
                            }
                            .description {
                                @apply pr-6 pl-4 py-6 lg:px-6 lg:py-12 flex-1;
                                h3 {
                                    @apply text-zinc-800 text-2xl leading-ext-tight font-medium mb-4;
                                }
                                p {
                                    @apply text-zinc-600 text-lg leading-normal mb-0;
                                }
                            }
                        }
                    }
                }
                section.statistics {
                    @apply mb-10 md:mb-20;
                    .counters {
                        @apply flex flex-col md:flex-row gap-x-8 gap-y-4 mb-0;
                        li {
                            @apply relative flex flex-col items-center list-none flex-1 ring-2 ring-zinc-200 ring-inset mt-12 pt-14;
                            img {
                                @apply absolute top-0 w-24 h-24 p-2 mb-4 -translate-y-1/2;
                            }
                            .counter {
                                @apply text-mxbon-red text-5xl leading-normal font-bold font-raj tracking-[3.84px];
                            }
                            .target {
                                @apply text-neutral-600 text-lg leading-ext-tight mb-8;
                            }
                            &:before, &:after {
                                @apply absolute content-[''] z-10 right-0 bottom-0 w-0 h-0 border-transparent;
                            }
                            &:before {
                                @apply border-b-zinc-200 border-b-[32px] border-l-[32px];
                            }
                            &:after {
                                @apply border-b-zinc-300 border-b-[24px] border-l-[24px];
                            }
                        }
                    }
                }
                section.history {
                    .wrapper {
                        @apply flex flex-col md:flex-row gap-x-8 w-full max-w-[1120px];
                        .stage {
                            @apply relative px-6 py-8 bg-zinc-400 w-full md:w-[224px] overflow-hidden;
                            h2 {
                                @apply relative z-30 text-white text-[32px] leading-normal font-medium mb-2;
                            }
                            h3 {
                                @apply relative z-30 text-white text-lg leading-ext-tight font-medium;
                            }
                            .stage-bg {
                                @apply absolute z-10 block w-full left-0 -top-[8vh] h-[120%] min-h-[480px] md:min-h-[360px] !bg-cover delay-100 duration-1000 opacity-25 saturate-0 bg-blend-luminosity transition-bg ease-out-quad;
                            }
                            &:before {
                                @apply absolute z-20 content-[''] w-full h-full top-0 left-0 bg-zinc-400 mix-blend-hard-light;
                            }
                            &:after {
                                @apply absolute z-30 bg-white content-[''] w-full h-12 left-0 bottom-0 hidden md:block;
                            }
                        }
                        &:nth-child(2) .stage .stage-bg {
                            background-position-x: 58%!important;
                        }
                        .timeline {
                            @apply relative flex-1 mb-0 pb-12;
                            .record {
                                @apply block list-none min-h-[109px] mb-12 last:mb-0 md:mb-0 first:mt-12 md:first:mt-0;
                                .record-wrapper {
                                    @apply  flex flex-col md:flex-row md:gap-x-6 w-full;
                                    .year {
                                        @apply relative flex flex-row items-center justify-between md:justify-end gap-x-5 md:gap-x-0 text-zinc-300 text-[64px] leading-10 md:leading-normal font-bold font-raj w-[195px] md:w-[203px] text-right mb-4 md:mb-0;
                                        
                                        &:before {
                                            @apply block md:hidden content-[''] bg-history-scale w-[44px] h-4 ml-1 saturate-0 brightness-[6] rotate-180;
                                        }
                                        
                                        &:after {
                                            @apply hidden md:block content-[''] bg-history-scale w-[52px] h-4 mr-1 ml-3 saturate-0 brightness-[6];
                                        }
                                    }
                                    .content {
                                        @apply flex flex-col xl:flex-row pl-16 md:py-4 md:pl-0 flex-1;
                                        .description {
                                            @apply  bg-zinc-100/50 self-stretch p-6 flex-1 flex flex-col justify-center;
                                            h4 {
                                                @apply text-zinc-600 text-lg leading-ext-tight font-medium;
                                            }
                                            .remark {
                                                @apply text-zinc-400 text-base leading-normal font-normal mt-2;
                                            }
                                            .remark-image {

                                            }
                                        }
                                        .image {
                                            @apply w-full xl:max-w-[250px];
                                        }
                                    }
                                }
                            }
                            &:after {
                                @apply absolute content-[''] top-0 w-1 h-full bg-zinc-300 left-0 md:left-[197px];
                            }
                        }
                        &:first-child .timeline {
                            &:after {
                                @apply md:top-2;
                            }
                        }
                        &:last-child {
                            .stage {
                                @apply after:content-none after:hidden;
                            }
                            .timeline {
                                @apply pb-4;
                                &:after {
                                    @apply md:top-unset md:bottom-5;
                                }
                            }
                        }    
                        &:last-child .timeline:last-child .record:last-child {
                            .year {
                                @apply text-mxbon-red;
                                &:after {
                                    @apply saturate-100 brightness-100;
                                }
                            }
                        }
                    }
                }
                section.philsosphy {
                    @apply mb-12 md:mb-16 lg:mb-20 xl:mb-24;
                    .wrapper {
                        ol {
                            @apply grid md:gap-x-8 gap-y-4 md:gap-y-0 md:grid-rows-2 grid-cols-1 md:grid-cols-3 mb-0;
                            counter-reset: item;
                            li {
                                @apply relative list-none flex-1 mt-12 md:last:row-span-2 md:last:col-start-3 bg-zinc-200;
                                counter-increment: item;
                                &:nth-child(3), &:nth-child(4) {
                                    @apply md:row-start-2;
                                }
                                span {
                                    @apply bg-abstract-white bg-center bg-no-repeat bg-cover mix-blend-screen ring-2 ring-black ring-inset brightness-140;
                                    @apply relative w-full h-full min-h-[216px] flex justify-center;

                                }
                                h3 {
                                    @apply absolute w-full h-full top-0 left-0 flex flex-col items-center justify-center text-2xl leading-normal text-zinc-800 text-center font-medium;
                                    &:before {
                                        @apply absolute z-20 top-0 -translate-y-1/2 content-['0'counter(item)] text-mxbon-red text-5xl leading-normal font-raj font-bold w-24 h-24 flex justify-center items-center;
                                    }
                                    &:after {
                                        @apply absolute z-10 top-0 content-[''] w-24 h-0.5 bg-white;
                                    }
                                }
                                &:before, &:after {
                                    @apply absolute content-[''] z-10 right-0 bottom-0 w-0 h-0 border-transparent;
                                }
                                &:before {
                                    @apply border-b-zinc-200 border-b-[32px] border-l-[32px];
                                }
                                &:after {
                                    @apply border-b-zinc-300 border-b-[24px] border-l-[24px];
                                }
                            }
                        }
                    }
                }

                section.vision {
                    @apply pt-6 md:pt-0 mb-12 md:mb-16 lg:mb-20 xl:mb-24;
                    .wrapper {
                        @apply flex flex-col xl:flex-row gap-x-16;
                        .content {
                            @apply relative flex flex-col justify-center p-12 mb-8 md:mb-0 bg-zinc-200/50 overflow-hidden;
                            &:before {
                                @apply absolute z-30 top-0 right-0 content-[''] w-0 h-0 border-r-[40px] border-b-[40px] md:border-r-[93px] md:border-b-[97px] border-transparent border-r-white;
                            }
                            h3 {
                                @apply z-30 text-zinc-800 text-2xl leading-ext-tight font-medium mb-4;
                                &:before {
                                    @apply content-[''] inline-block w-2 h-5 mr-4 bg-mxbon-red;
                                }
                            }
                            p {
                                @apply z-30 text-zinc-600 text-lg leading-normal mb-0;
                            }
                            .vision-bg {
                                @apply absolute z-10 w-full h-[140%] -top-[10vh] left-0 bg-molecular-white bg-cover bg-no-repeat opacity-[.15] saturate-0 bg-blend-luminosity;
                            }
                        }
                        img {
                            @apply w-full max-w-[392px] mx-auto;
                        }
                    }
                }
                section.sdgs {
                    @apply pt-4 md:pt-0 mb-6 md:mb-0;
                    .wrapper {
                        @apply flex flex-col xl:flex-row;
                        .content {
                            @apply w-full xl:w-[calc(384/1248*100%)] mb-8 xl:mb-0 p-0 xl:p-12;
                            h3 {
                                @apply relative text-zinc-800 text-2xl leading-ext-tight font-medium mb-12;
                                &:before {
                                    @apply content-[''] inline-block w-2 h-5 mr-4 bg-mxbon-red;
                                }
                                &:after {
                                    @apply absolute content-[''] w-full h-px left-0 -bottom-6 bg-zinc-200;
                                }
                            }
                            p {
                                @apply text-zinc-600 text-lg leading-normal mb-0;
                            }
                        }
                        .sdg-goals {
                            @apply flex-1 grid gap-4 grid-cols-3 grid-rows-6 md:grid-cols-5 md:grid-rows-4 lg:grid-cols-6 lg:grid-rows-3;
                            .goal {
                                @apply filter-order-sdgs contrast-[0.1] sepia brightness-150 saturate-0;
                                &.active {
                                    @apply filter-none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}